* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}

/*Mise en page Header*/

/* Positionnement et taille de logo potentiellement pas identique à la maquette (mais dans quelle mesure ça doit être totalement identique ?) Petite marge en haut du header a cause du user agent style sheet l'enlever (pour s'approcher du rendu de la maquette) ou vaut mieux la laisser ? */
Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin: 0 8vh 0 2vh;
}

header img {
    height: 5.5vh;
    margin-left: 2vw;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 23%;
    height: 12vh;
}

header nav a {
    color: black;
    text-decoration: none;
    line-height: 12vh;
    padding: 0 2vw 0 2vw;
}

header nav a:hover {
    border-top: solid 2px #0065fc;
    color: #0065fc;
}

/*Mise en page div1*/

#div1 {
    margin: 0 3vw 3vh 3vw;
}
h1 {
    font-size: 22px; /* comment trouver la bonne taille ? l'habitude ? utiliser des px problématique pour le responsives ? */
    font-weight: bold;
}

#div1 p {
    font-size: 15px;
}

/*Mise en forme de la section de recherche */
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vh 0 2vh 0;
}
label {
    display: block;
    width: 3.2vw;
    height: 6vh;
    line-height: 6vh;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 1px #f2f2f2;
    text-align: center;
}

label i {
    font-size: 15px;
}

input {
    height: 6vh;
    width: 15vw;
    border: solid 1px #f2f2f2;
    font-weight: bold;
    line-height: 100%;
    font-size: 20px;
    font-family: "Raleway";
    padding-left: 10px;
    min-width: 200px;
}

button {
    height: 6vh;
    border: solid 1px #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 100%;
    color: white;
    background-color: #0065fc;
    font-size: 20px;
}

form .fa-magnifying-glass {
    display: none;
}

/*Mise en forme de la section filtre */
#divFiltres {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 8px;
}
#ongletFiltres {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
}

#divFiltres p {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
}

.filtres {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    padding: 0px 10px 0px 0px;
}

#divFiltres .filtres p {
    margin: 0;
}

.filtres i {
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    border-radius: 50%;
    border: solid 1px #deebff;
    padding: 13px;
    margin: -1px;
}

#familial i {
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    border-radius: 50%;
    border: solid 1px #deebff;
    padding: 12px 15px 12px 15px;
    margin: -1px;
}
#div1 p i {
    color: #0065fc;
    border: solid #deebff 1px;
    border-radius: 100%;
    padding: 3px 8px 3px 8px;
    margin-right: 5px;
}

.filtres:hover {
    background-color: #deebff;
}
#info {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
#info i {
    color: #0065fc;
    font-size: 12px;
    border: solid 2px #f2f2f2;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
}

/*Mise en page Dive 2*/
#div2 {
    display: flex;
    justify-content: space-between;
    margin: 2vh 3vw 2vh 3vw;
}

/*Mise en page du titre de la section hebergement*/

#hebergements h1 {
    margin-bottom: 0;
}
/* Mise en page des Vignettes dans l'onglet Hebergement*/
#hebergements {
    background-color: #f2f2f2;
    width: 65%;
    height: auto;
    padding: 30px;
    border-radius: 20px;
}

#vignetteHebergement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    margin: 2vh 0 2vh 0;
}

.vignette {
    background-color: white;
    border: solid 1px #deebff;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 20px lightgrey; /*Je suis pas convaincu qu'il y ai des ombres ? */
    padding: 8px;
    flex-grow: 1;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;
}

.details h2 {
    font-size: 16px;
    margin: 4px 0 0 0;
    padding: 0 0 0px 16px;
    font-weight: bold;
}

.details p {
    margin: 0;
    padding: 4px 0 4px 16px;
    font-size: 13px;
    font-weight: normal;
}

.vignette img {
    width: 100%;
    height: 120px;
    align-self: center;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    object-position: center;
}

#hebergement h2 {
    font-size: 18px;
}

.full {
    color: #0065fc;
}
.empty {
    color: #deebff;
}

/* Mise en place des vignettes dans la div les plus populaire*/
#populaire {
    background-color: #f2f2f2;
    width: 32%;
    padding: 30px;
    border-radius: 20px;
}

#titre {
    display: flex;
    justify-content: space-between;
}

#titre i {
    align-self: center;
    font-size: 20px;
}

.populaire {
    background-color: white;
    border: solid 1px #deebff;
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin: 8px 0 8px 0;
    box-shadow: 0 0 20px lightgrey; /*Je suis pas convaincu qu'il y ai des ombres ? */
}

.imagePopulaire {
    width: 40%;
    padding: 8px;
    overflow: hidden;
    height: 150px;
}

.imagePopulaire img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.detailsPopulaire {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 8px;
    width: 60%;
}

.detailsPopulaire h2 {
    font-size: 16px;
    margin: 0;
    padding: 0 8px 0px 8px;
    font-weight: bold;
}
.detailsPopulaire p {
    margin: 0;
    padding: 4px 0 4px 8px;
    font-size: 13px;
    font-weight: normal;
}

.detailsPopulaire .note {
    margin-top: auto;
}

/*Mise en forme Activité */
#div3 {
    margin: 6vh 3vw 6vh 3vw;
}

#activite {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.large {
    width: 22%;
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 0 0 20px lightgrey;
    text-decoration: none;
    color: black;
}

.medium {
    width: 22%;
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 0 0 20px lightgrey;
    text-decoration: none;
    color: black;
}

.large img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.medium img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.large h2 {
    font-size: 16px;
    padding: 16px;
    margin: 0;
}

.medium h2 {
    font-size: 16px;
    padding: 16px;
    margin: 0;
}

/*Mise en page footer */
footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    column-gap: 15%;
    height: auto;
    padding: 2vh 5vw 5vh 5vw;
}

dt {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

dd {
    list-style: none;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/*Responsive tablette*/
@media all and (min-width: 768px) and (max-width: 992px) {
    #div2 {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 16px;
        margin: 2vh 3vw 2vh 3vw;
    }
    #populaire {
        width: 100%;
    }
    #vignettePopulaire {
        display: flex;
        justify-content: space-between;
        row-gap: 16px;
        column-gap: 16px;
    }
    .populaire {
        width: 30%;
        flex-grow: 1;
    }
    #hebergements {
        width: 100%;
    }
    #vignetteHerbegement {
        column-gap: 8px;
        row-gap: 8px;
    }
    #activite {
        height: 400px;
    }
    .large img {
        height: 300px;
    }
    .medium img {
        height: 100px;
    }
    #activite h2 {
        font-size: 15px;
    }
}

/*Responsive Smartphone Est ce qu'il faudrait pas faire un breackpoint suplémentaire pour afficher les vignette hébergement par 2 ? */
@media all and (max-width: 768px) {
    /*Header Smarthpone*/
    header {
        display: block;
        width: 100%;
        margin: 0 0 2vh 0;
        height: auto;
    }
    header img {
        display: block;
        margin: auto;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 6vh;
    }
    header nav a {
        width: 50%;
        color: black;
        text-decoration: none;
        text-align: center;
        line-height: 6vh;
        padding: 0 2vw 0 2vw;
        border-bottom: solid 2px #f2f2f2;
    }
    header nav a:hover {
        border-bottom-color: #0065fc;
        border-top: none;
        color: #0065fc;
    }
    /*Responsiv form*/
    form {
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
    }
    label {
        width: 50px;
        height: 8vh;
        line-height: 8vh;
    }
    input {
        width: 60vw;
        height: 8vh;
        line-height: 8vh;
    }
    button {
        width: 50px;
        height: 8vh;
        line-height: 8vh;
    }
    button span {
        display: none;
    }
    form .fa-magnifying-glass {
        display: inline;
    }
    /*Responsiv Filtre*/
    #divFiltres {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
    }
    #filtre {
        width: 100%;
    }
    #filtre > p {
        font-size: 15px;
    }
    #ongletFiltres {
        width: 100%;
    }
    .filtres {
        justify-content: flex-start;
        align-items: center;
        width: 48%;
        column-gap: 2px;
    }
    .filtres i {
        background-color: #deebff;
        font-size: 15px;
        padding: 10px;
        border: none;
    }
    #familial i {
        font-size: 15px;
        padding: 10px 12px 10px 12px;
        border: none;
        background-color: #deebff;
    }
    #divFiltres .filtres > p {
        font-size: 12px;
    }
    /*Mise en forme Les plus populaire*/
    #div2 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }
    #populaire {
        width: 100%;
        border-radius: 0;
        padding: 20px;
    }
    #vignettePopulaire {
        width: 100%;
        margin: 0 0 1vh 0;
    }

    /*Mise en forme responsive Hebergement*/
    #hebergements {
        width: 100%;
        margin-bottom: 0;
        background-color: white;
        padding: 20px;
    }
    #vignetteHebergement {
        display: block;
        margin: 2vh 0 2vh 0;
    }
    .vignette {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }
    .vignette img {
        display: block;
        width: 100%;
        align-self: center;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
        object-position: center;
    }
    .details h2 {
        margin-top: 2px;
    }
    h3 {
        margin-bottom: 0;
    }
    /*Mise en forme responsiv activité*/
    #div3 {
        margin: 8px;
        padding: 20px;
    }
    #activite {
        width: 100%;
        height: auto;
        row-gap: 5vh;
    }
    .large {
        width: 100%;
    }
    .medium {
        width: 100%;
    }
    .large img {
        height: 150px;
    }
    /*footer smartphone*/
    footer {
        background-color: #f2f2f2;
        display: block;
        height: auto;
        padding: 2vh 5vw 5vh 5vw;
    }
    dt {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    dd {
        list-style: none;
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
