body {
    margin: 0;
}

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

/*Mise en page Header*/

/* Positionnement et taille de logo potentiellement pas identique à la maquette (mais dans quelle mesure ça doit être totalement identique ?) Petite marge en haut du header a cause du user agent style sheet l'enlever (pour s'approcher du rendu de la maquette) ou vaut mieux la laisser ? */
Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3vw 0 3vw;
}

header img {
    height: 5.5vh;
    margin-right: auto;
}

nav {
    display: flex;
}

header nav a {
    color: black;
    text-decoration: none;
    line-height: 12vh;
    padding: 0 2vw 0 2vw;
}

header nav a:hover {
    border-top: solid 2px #0065fc;
    color: #0065fc;
}

/*Mise en page div1*/

#div1 {
    margin: 0 3vw 2vh 3vw;
}
h1 {
    font-size: 22px; /* comment trouver la bonne taille ? l'habitude ? utiliser des px problématique pour le responsives ? */
    font-weight: bold;
}

#div1 p {
    font-size: 15px;
    padding: 0;
}

/*Mise en forme de la section de recherche */
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vh 0 2vh 0;
}
label {
    display: block;
    width: 3.2vw;
    height: 6vh;
    line-height: 6vh;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 1px #f2f2f2;
    text-align: center;
}

label i {
    font-size: 15px;
}

input {
    height: 6vh;
    width: 15vw;
    border: solid 1px #f2f2f2;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    min-width: 200px;
}

button {
    height: 6vh;
    border: solid 1px #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #0065fc;
    font-size: 20px;
    padding: 0 10px;
}
button:hover {
    cursor: pointer;
}
form .fa-magnifying-glass {
    display: none;
}

/*Mise en forme de la section filtre */
#divFiltres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#divFiltres > p {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
}

.filtres {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    padding: 2px 10px 2px 0px;
    height: 5vh;
}

.filtres > p {
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 4px;
}

.filtres i {
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    border-radius: 50%;
    border: solid 1px #deebff;
    padding: 9px;
    margin: -1px;
}

#familial i {
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    border-radius: 50%;
    border: solid 1px #deebff;
    padding: 9px 11px;
    margin: -1px;
}
#div1 p i {
    color: #0065fc;
    border: solid #deebff 1px;
    border-radius: 100%;
    padding: 3px 8px 3px 8px;
    margin-right: 5px;
}

.filtres:hover {
    background-color: #deebff;
    border-color: #deebff;
}

#info {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
#info i {
    color: #0065fc;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 15px;
}

/*Mise en page Dive 2*/
#div2 {
    display: flex;
    justify-content: space-between;
    margin: 2vh 3vw 2vh 3vw;
}

/*Mise en page du titre de la section hebergement*/

#hebergements h1 {
    margin-bottom: 0;
}
/* Mise en page des Vignettes dans l'onglet Hebergement*/
#hebergements {
    background-color: #f2f2f2;
    width: 65%;
    padding: 30px 40px 10px 40px;
    border-radius: 20px;
}

#vignetteHebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 2vw;
    margin: 2vh 0 0 0;
}

.vignette {
    background-color: white;
    border: solid 1px #deebff;
    width: 30%;
    height: 14vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #f2f2f2; /*Je suis pas convaincu qu'il y ai des ombres ? */
    color: black;
    text-decoration: none;
}
.full {
    color: #0065fc;
}
.empty {
    color: #deebff;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details h2 {
    font-size: 16px;
    margin: 0;
    padding: 2px 0 2px 15px;
    font-weight: bold;
}

.details > p {
    margin: 0;
    padding: 5px 0 5px 15px;
    font-size: 13px;
}

#imgHeberge1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: 100% 110%;
}
#imgHeberge2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: 105% 150%;
}
#imgHeberge3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: 120% 150%;
}
#imgHeberge4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: 100% 200%;
}
#imgHeberge5 {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: 120% 150%;
}
#imgHeberge6 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: 150% 250%;
}
#imgHeberge1,
#imgHeberge2,
#imgHeberge3,
#imgHeberge4,
#imgHeberge5,
#imgHeberge6 {
    width: 94%;
    height: 60%;
    margin: 0.5vw 0 0.5vw 0.5vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

h3 {
    font-size: 16px;
}

/* Mise en place des vignettes dans la div les plus populaire*/
#populaire {
    background-color: #f2f2f2;
    height: auto;
    width: 32%;
    padding: 30px 40px 10px 40px;
    border-radius: 20px;
}

#populaire a {
    color: black;
    text-decoration: none;
}

#titre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
#titre h1 {
    margin-bottom: 0;
}

#titre i {
    align-self: center;
    font-size: 22px;
}

#vignettePopulaire {
    height: auto;
    margin: 2vh 0 0 0;
}

.populaire {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: solid 1px #deebff;
    width: 100%;
    height: 10vw;
    border-radius: 20px;
    margin: 0 0 1vw 0;
}

#imgPop1 {
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: 160% 110%;
}
#imgPop2 {
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: 160% 110%;
}
#imgPop3 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: 150% 140%;
}
#imgPop1,
#imgPop2,
#imgPop3 {
    width: 35%;
    height: 90%;
    margin-left: 0.5vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.detailsPopulaire {
    width: 65%;
    height: 90%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.detailsPopulaire h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.detailsPopulaire p {
    font-size: 12px;
}

.detailsPopulaire .note {
    margin-top: auto;
}

/*Mise en forme Activité */
#div3 {
    height: auto;
    margin: 6vh 3vw 6vh 3vw;
}

#activite {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.large {
    width: 22%;
    height: 100%;
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 0px 0px 6px #f2f2f2;
    color: black;
    text-decoration: none;
}

.medium {
    width: 22%;
    height: 45%;
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 0px 0px 6px #f2f2f2;
    color: black;
    text-decoration: none;
}

#large1 {
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
#large2 {
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
#large1,
#large2 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200% 100%;
}

#medium1 {
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
#medium2 {
    background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
#medium3 {
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
#medium4 {
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#medium1,
#medium2,
#medium3,
#medium4 {
    width: 100%;
    height: 78%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
}
.large h2 {
    font-size: 16px;
    padding: 5% 2.5% 2.5% 5%;
    margin: 0;
}

.medium h2 {
    font-size: 16px;
    padding: 5% 2.5% 2.5% 5%;
    margin: 0;
}

/*Mise en page footer */
footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    column-gap: 15%;
    height: auto;
    padding: 2vh 5vw 5vh 5vw;
}

dt {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

dd {
    list-style: none;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/*Media querry Ipad est ce qu'il vaut mieux faire des changements pour toutes les hauteurs ? ou alors comme je fais là utiliser des hauteur de % qui dépendent d'une seul valeur ?
Diminuer la taille de la section recherche ?
J'aurais pas utiliser les même breackpoint, genre j'aurais utiliser un max width plus grand car le rendu est pas top, ça veux dire que c'est à moi de modifier mes mesure pour que le rendu soit mieux ? ou je peux changer le breackpoint ? */
@media all and (min-width: 768px) and (max-width: 992px) {
    #div2 {
        display: block;
    }
    #hebergements {
        width: 100%;
        margin-bottom: 5vh;
    }
    #vignetteHebergement {
        height: 35vh;
    }
    #populaire {
        width: 100%;
        height: auto;
    }
    .populaire {
        height: 100%;
        width: 30%;
    }
    #vignettePopulaire {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2vh;
    }
    #activite {
        height: 38.8vh;
    }
    .large {
        height: 90%;
    }
    .medium {
        height: 37.7%;
    }
    h2 {
        font-size: 13px;
    }
    p {
        font-size: 8px;
    }
    #divFiltres {
        width: 100%;
    }
}
/*media query pour le responsive de la version mobile*/
@media all and (max-width: 768px) {
    /*responsive Header*/
    header {
        display: block;
        width: 100%;
        margin: 0 0 2vh 0;
        height: auto;
    }
    header img {
        display: block;
        margin: auto;
    }
    nav {
        display: flex;
        width: 100%;
        height: 6vh;
    }
    header nav a {
        line-height: 6vh;
        width: 50%;
        text-align: center;
        border-bottom: solid 2px #f2f2f2;
    }
    header nav a:hover {
        border-top: none;
        border-bottom-color: #0065fc;
        color: #0065fc;
    }
    /*Responsiv div1*/
    #div1 {
        height: 55vh;
        padding: 8px;
    }
    #div1 h1 {
        font-size: 22px; /* comment trouver la bonne taille ? l'habitude ? utiliser des px problématique pour le responsives ? */
        font-weight: bold;
        width: 90%;
    }
    #div1 > p {
        padding: 0;
        margin-bottom: 2vh;
    }
    /*Responsiv form*/
    form {
        width: 100%;
        justify-content: center;
        margin-bottom: 2vh;
    }
    label {
        width: 50px;
        height: 8vh;
        line-height: 8vh;
    }
    input {
        width: 60vw;
        height: 8vh;
        line-height: 8vh;
    }
    button {
        width: 50px;
        height: 8vh;
        line-height: 8vh;
    }
    button span {
        display: none;
    }
    form .fa-magnifying-glass {
        display: inline;
    }
    /*Responsiv Filtre*/
    #divFiltres {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        height: 20vh;
    }
    #filtre {
        width: 100%;
    }
    .filtres {
        justify-content: flex-start;
        align-items: center;
        column-gap: Opx;
        width: 50%;
        column-gap: 0px;
    }
    .filtres i {
        background-color: #deebff;
        font-size: 15px;
        padding: 10px;
        border: none;
    }
    #familial i {
        font-size: 15px;
        padding: 10px 12px 10px 12px;
        border: none;
        background-color: #deebff;
    }
    #divFiltres p {
        font-size: 10px;
    }
    /*Mise en forme Les plus populaire*/
    #div2 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }
    #hebergements {
        width: 100%;
        margin-bottom: 5vh;
        background-color: white;
        padding: 3vw;
    }
    #populaire {
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: 3vw;
    }
    .populaire {
        height: 100%;
        width: 100%;
    }
    #vignettePopulaire {
        height: 20vh;
        width: 100%;
        margin: 0 0 1vh 0;
    }
    /*Mise en forme responsive Hebergement*/
    #vignetteHebergement {
        display: block;
        height: auto;
        margin: 2vh 0 2vh 0;
        row-gap: 2vh;
    }
    .vignette {
        background-color: white;
        border: solid 1px #deebff;
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px #f2f2f2;
        margin-bottom: 2vh;
    }
    /*Mise en forme responsiv activité*/
    #div3 {
        height: auto;
        margin: 8px;
        padding: 3vw 0vw 3vw 3vw;
    }

    #activite {
        width: 100%;
        height: auto;
        row-gap: 5vh;
    }

    .large {
        width: 100%;
        height: 30vh;
        border-radius: 20px;
        border: solid 1px #f2f2f2;
        box-shadow: 4px 4px 4px #f2f2f2;
    }

    .medium {
        width: 100%;
        height: 30vh;
        border-radius: 20px;
        border: solid 1px #f2f2f2;
        box-shadow: 4px 4px 4px #f2f2f2;
    }

    .large img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .medium img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .large h2 {
        padding: 2vh 1vw 1vh 5vw;
    }

    .medium h2 {
        padding: 2vh 1vw 1vh 5vw;
    }

    /*Mise en forme responsive footer*/
    footer {
        background-color: #f2f2f2;
        display: block;
        height: auto;
        padding: 2vh 5vw 5vh 5vw;
    }
    dt {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    dd {
        list-style: none;
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
