body {
    font-family: "Raleway";
    width: 100%;
}

/*Mise en page Header*/

/* Positionnement et taille de logo potentiellement pas identique à la maquette (mais dans quelle mesure ça doit être totalement identique ?) Petite marge en haut du header a cause du user agent style sheet l'enlever (pour s'approcher du rendu de la maquette) ou vaut mieux la laisser ? */
Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin: 0 8vh 0 2vh;
}

header img {
    height: 5.5vh;
    margin-left: 2vw;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 23%;
    height: 12vh;
}

header nav a {
    color: black;
    text-decoration: none;
    line-height: 12vh;
    padding: 0 2vw 0 2vw;
}

header nav a:hover {
    border-top: solid 2px #0065fc;
    color: #0065fc;
}

/*Mise en page div1*/

#div1 {
    margin: 0 3vw 5vh 3vw;
}
h1 {
    font-size: 22px; /* comment trouver la bonne taille ? l'habitude ? utiliser des px problématique pour le responsives ? */
    font-weight: bold;
}

#div1 p {
    font-size: 15px;
}

/*Mise en forme de la section de recherche */
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vh 0 2vh 0;
}
label {
    display: block;
    width: 3.2vw;
    height: 6vh;
    line-height: 6vh;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    border: solid 1px #f2f2f2;
    text-align: center;
}

label i {
    font-size: 15px;
}

input {
    box-sizing: border-box;
    height: 6vh;
    width: 15vw;
    border: solid 1px #f2f2f2;
    font-weight: bold;
    line-height: 100%;
    font-size: 20px;
    font-family: "Raleway";
    padding-left: 10px;
    min-width: 200px;
}

button {
    box-sizing: border-box;
    height: 6vh;
    border: solid 1px #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 100%;
    color: white;
    background-color: #0065fc;
    font-size: 20px;
}

/*Mise en forme de la section filtre */
#divFiltres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 10vh;
}

#divFiltres p {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
}

.filtres {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    padding: 2px 10px 2px 0px;
    height: 5vh;
}

.filtres p {
    margin: 0;
}

.filtres i {
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    border-radius: 50%;
    border: solid 1px #deebff;
    padding: 13px;
    margin: -1px;
}

#familial i {
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    border-radius: 50%;
    border: solid 1px #deebff;
    padding: 12px 15px 12px 15px;
    margin: -1px;
}
#div1 p i {
    color: #0065fc;
    border: solid #deebff 1px;
    border-radius: 100%;
    padding: 3px 8px 3px 8px;
    margin-right: 5px;
}

.filtres:hover {
    background-color: #deebff;
}

/*Mise en page Dive 2*/
#div2 {
    display: flex;
    justify-content: space-between;
    margin: 2vh 3vw 2vh 3vw;
}

/*Mise en page du titre de la section hebergement*/

#hebergements h1 {
    margin-bottom: 0;
}
/* Mise en page des Vignettes dans l'onglet Hebergement*/
#hebergements {
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 65%;
    height: auto;
    padding: 30px 40px 10px 40px;
    border-radius: 20px;
}

#vignetteHebergement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    height: 55vh;
    margin: 2vh 0 2vh 0;
}

.vignette {
    background-color: white;
    border: solid 1px #deebff;
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #f2f2f2; /*Je suis pas convaincu qu'il y ai des ombres ? */
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#div2 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    margin: 0;
    padding: 0 0 0px 15px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 13px;
}

.vignette img {
    /*je trouve les images un peu plus zoomer, j'ai penser à utiliser les images en background plutôt qu'en asset HTML pour pouvoir modifier leur taille*/
    width: 96%;
    height: 60%;
    align-self: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2%;
}

#hebergement h2 {
    font-size: 18px;
}

/* Mise en place des vignettes dans la div les plus populaire*/
#populaire {
    box-sizing: border-box;
    background-color: #f2f2f2;
    height: auto;
    width: 32%;
    padding: 30px 40px 10px 40px;
    border-radius: 20px;
}

#titre {
    display: flex;
    justify-content: space-between;
}

#titre i {
    align-self: center;
    font-size: 20px;
}

#vignettePopulaire {
    height: 55vh;
}

.populaire {
    background-color: white;
    border: solid 1px #deebff;
    width: 100%;
    height: 30%;
    border-radius: 20px;
    margin: 0 0 30px 0;
    box-shadow: 4px 4px 4px #f2f2f2; /*Je suis pas convaincu qu'il y ai des ombres ? */
}

.populaire img {
    width: 35%;
    height: 92%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 5px 10px 5px 5px;
    float: left;
}

.detailsPopulaire {
    padding: 15px 10px 10px 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.note {
    justify-self: end; /*Pourquoi en utilisant ça ca veux pas me le placer en bas de la div ? */
}

/*Mise en forme Activité */
#div3 {
    height: auto;
    margin: 6vh 3vw 6vh 3vw;
}

#activite {
    width: 100%;
    height: 61vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    row-gap: 5vh;
}

.large {
    width: 22%;
    height: 98.2%;
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 4px 4px 4px #f2f2f2;
}

.medium {
    width: 22%;
    height: 44.6%;
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 4px 4px 4px #f2f2f2;
}

.large img {
    width: 100%;
    height: 90.1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.medium img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.large h2 {
    padding: 1vh 1vw 1vh 2vw;
}

.medium h2 {
    padding: 1vh 1vw 1vh 2vw;
}

/*Mise en page footer */
footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    column-gap: 15%;
    height: auto;
    padding: 2vh 5vw 5vh 5vw;
}

dt {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

dd {
    list-style: none;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/*Media querry Ipad est ce qu'il vaut mieux faire des changements pour toutes les hauteurs ? ou alors comme je fais là utiliser des hauteur de % qui dépendent d'une seul valeur ?
Diminuer la taille de la section recherche ?
J'aurais pas utiliser les même breackpoint, genre j'aurais utiliser un max width plus grand car le rendu est pas top, ça veux dire que c'est à moi de modifier mes mesure pour que le rendu soit mieux ? ou je peux changer le breackpoint ? */
@media all and (min-width: 768px) and (max-width: 992px) {
    #vignetteHebergement {
        height: 35vh;
    }
    #vignettePopulaire {
        height: 35vh;
    }
    #activite {
        height: 38.8vh;
    }
    .large {
        height: 90%;
    }
    .medium {
        height: 37.7%;
    }
    h2 {
        font-size: 13px;
    }
    p {
        font-size: 8px;
    }
    #divFiltres {
        width: 100%;
    }
    #hebergements {
        padding: 10px 15px 10px 15px;
    }
    #populaire {
        padding: 10px 15px 10px 15px;
    }
}
